h2 {
  font-family: 'futura-std-bold-condensed-oblique', sans-serif;
  font-size:3rem ;
}
h3 {
    padding-top: 5%;
    font-family: sans-serif;
    font-weight: 400; 
    font-size: 2rem;
   
}
/* Header */
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: black;
  }
  /* Brand name */
  .brand {
    font-family: 'futura-std-bold-condensed-oblique', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transform: rotate(-3deg);
    white-space: nowrap;
  }
/* Navbar */
.navbar {
    padding-left: 50%;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
    font-weight: 300;
}
.nav-item {
    padding: 0 18px;
    display: inline-block;
}
.orderbutton {
    border-radius:20px;
    width: 130px;
    font-size: 1.3rem;
    font-family: "Monserrat-Light";
    font-weight: 300;

}
/* Home Content */
.big-heading {
    font-family: 'futura-std-bold-condensed-oblique', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    padding-top:2%;
}
p {
    color: #353839;
   text-align: center;
   font-family: sans-serif;
   font-size:1.5rem ;
   line-height: 1.5;
   font-weight: 400;   
}
.midpara{
    padding-left: 2%;
}
.image {
    background-image: url("images/1.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    padding-top: 1%;
    height: 180vh;
    
}

/* Products */
.column {
    float: left;
    width: 33.33%;
    padding: 2% 2% 5% 3%;
  
}
.productimg {
   
    width: 100%;
    height: 450px;
    
}
/* Featured   */
#Featured {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: black;
    background-color: #e6e7e9;
   
  }
  
  .features-text {
    flex-basis: 50%;
    margin-right: 50px;
    padding-left: 10%;

  }
  
  .features-img {
    flex-basis: 50%;
    opacity: 1;
  }
  
  .featuredimg {
    width: 100%;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 20%;
  }
  
  .featuredimg:hover {
    transform: rotateX(10deg) rotateY(20deg);
  }
  dl {
    margin: 0;
    padding: 0;
  }
  
  dt {
    font-weight: bold;
    color: black;
    margin-top: 10px;
  }
  
  dd {
    margin-left: 0;
    margin-bottom: 10px;
    padding-right: 30%;
   }
  /* Footer  */
  .icon-2 {
    margin: 20px 10px;
}
.footercontainer {
   padding: 7% 0;
}
.icons {
    text-align: center;
}


